@charset "UTF-8";
html {
  background-image: url(Sources/background.jpg);
}
header {
  min-height: 800px;
  width: auto;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  background-repeat: repeat;
  position: relative;
}
.top_bar {
  background-color: black;
  max-height: 50px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.logotype a {
  font-size: 30px;
  color: white;
  align-items: center;
  margin-top: -20px;
  padding-left: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.logotype a:hover {
  color: #F7BE81;
}
.menu {
  display: flex;
  list-style: none;
}
.menuitem {
  margin-right: 30px;
}
.menulink {
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.menulink:hover {
  color: #F7BE81;
  border-bottom: solid 3px #F7BE81;
  transition: 0.2;
}
.descript p {
  text-align: center;
  color: black;
  font-size: 90px;
  font-family: 'Sigmar One', cursive;
  font-weight: bold;
  margin-top: 200px;
  max-height: 400px;
}
.btn {
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: 80px;
}
.btn1 {
  font-family: 'Bowlby One SC', cursive;
  background-color: transparent;
  border: solid 3px black;
  margin: 100px;
  width: 5cm;
  height: 2cm;
  font-size: 30px;
}
.btn1:hover {
  background-color: #F7BE81;
  transition: 0.4;
}
.btn1 a {
  text-decoration: none;
  color: black;
}
